.section {
  margin: 0 144px 164px 167px;
  padding-top: 22px;
}

.container {
  position: relative;
  max-width: 408px;
  margin: 0 auto;
  padding-right: 24px;
}

.title {
  line-height: 54px;
}

.highlight {
  color: var(--colors-interface-violet);
}

.image {
  position: absolute;
  top: -21px;
  right: -41px;
}

.accordion {
  margin-top: 94px;
  margin-bottom: 164px;
}
