.section {
  display: flex;
  margin: 136px 74px 136px 111px;
  justify-content: space-between;
  gap: 80px;
}

@media screen and (max-width: 1060px) {
  .section {
    flex-direction: column;
    gap: 80px;
    margin-left: 96px;
    margin-right: 96px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    margin: 60px 20px;
  }
}

.picture {
  width: 43%;
}

@media screen and (max-width: 1060px) {
  .picture {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .picture {
    width: 90%;
  }
}

.image {
  width: 100%;
  height: fit-content;
  border-radius: 24px;
  margin-top: -6px;
  box-shadow: -36px 46px 84px 0px rgba(70, 70, 70, 0.2);
}