.button {
  height: 100%;
  cursor: pointer;
  padding: 18px 30px;
  border-radius: 12px;
  transition: var(--transition-common);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.primary {
  background-color: var(--colors-button-primary-default);
  border: 1px solid var(--colors-button-primary-default);
  color: var(--colors-interface-white);
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--colors-button-primary-hover);
    color: var(--colors-interface-violet);
  }

  .primary:active {
    background-color: var(--colors-button-primary-active);
    color: var(--colors-interface-white);
  }
}

@media (hover: none) {
  .primary:active {
    background-color: var(--colors-button-primary-hover);
    color: var(--colors-interface-violet);
  }
}

.secondary {
  background-color: var(--colors-button-secondary-default);
  border: 1px solid var(--colors-button-primary-default);
  color: var(--colors-interface-violet);
}

@media (hover: hover) {
  .secondary:hover {
    background-color: var(--colors-button-secondary-hover);
    color: var(--colors-interface-white);
  }
  
  .secondary:active {
    background-color: var(--colors-button-secondary-active);
    color: var(--colors-interface-violet);
  }
}

@media (hover: none) {
  .secondary:active {
    background-color: var(--colors-button-secondary-hover);
    color: var(--colors-interface-white);
  }
}


.tertiary {
  padding: 0;
  height: auto;
  border: none;
  background-color: transparent;
}