.button {
  box-sizing: border-box;
  height: 100%;
  border-radius: 12px;
  padding: 18px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: var(--transition-common);
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.primary {
  border: 1px solid var(--colors-button-primary-default);
  color: var(--colors-interface-white);
  background-color: var(--colors-button-primary-default);
}

@media (hover: hover) {
  .primary:hover {
    color: var(--colors-interface-violet);
    background-color: var(--colors-button-primary-hover);
  }

  .primary:active {
    color: var(--colors-interface-white);
    background-color: var(--colors-button-primary-active);
  }

  .primary.disabled:hover {
    color: var(--colors-interface-white);
    background-color: var(--colors-button-primary-default);
  }
}

@media (hover: none) {
  .primary:active {
    color: var(--colors-interface-violet);
    background-color: var(--colors-button-primary-hover);
  }
}

.secondary {
  border: 1px solid var(--colors-button-primary-default);
  color: var(--colors-interface-violet);
  background-color: var(--colors-button-secondary-default);
}

@media (hover: hover) {
  .secondary:hover {
    color: var(--colors-interface-white);
    background-color: var(--colors-button-secondary-hover);
  }
  
  .secondary:active {
    color: var(--colors-interface-violet);
    background-color: var(--colors-button-secondary-active);
  }

  .secondary.disabled:hover {
    color: var(--colors-interface-violet);
    background-color: var(--colors-button-secondary-default);
  }
}

@media (hover: none) {
  .secondary:active {
    color: var(--colors-interface-white);
    background-color: var(--colors-button-secondary-hover);
  }
}


.tertiary {
  height: auto;
  border: none;
  padding: 0;
  background-color: transparent;
}