.container {
  width: 100%;
  padding: 40px 42px 47px 42px;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: var(--colors-interface-white);
  box-shadow: -16px 16px 24px 0px rgba(70, 70, 70, 0.2)
}

@media screen and (max-width: 480px) {
  .container {
    padding: 26px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 6px;
}

.icon {
  padding-bottom: 8px;
}

@media screen and (max-width: 480px) {
  .icon {
    width: 40px;
  }
}