.item {
  padding: 20px 0;
}

.button {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  overflow: hidden;
  transition: all 0.3s ease;
}

.body {
  display: block;
}

.open {
  padding-top: 17px;
  padding-bottom: 20px;
}