.text {
   margin: 0px;
   padding: 0px;
}

.logo-header {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.logo-footer {
  font-size: 28px;
  line-height: 37px;
  composes: logo-header;
}

.b1-web {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.b2-web {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
}

.b3-web {
  font-weight: 400;
  composes: b1-web;
}

.b4-web {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.b5-web {
  font-size: 14px;
  line-height: 22px;
  composes: b1-web;
}

.b6-web {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.b7-web {
  font-size: clamp(1.125rem, 0.9821rem + 0.7143vw, 1.625rem);
  line-height: 1.61;
  /* font-size: 26px; */
  /* line-height: 42px; */
  letter-spacing: normal;
  composes: b2-web;
}

.b8-web {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.b9-web {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  line-height: normal;
  /* font-size: 20px; */
  /* line-height: 26px; */
}

.b10-web {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  line-height: 1.6;
  /* font-size: 20px; */
  /* line-height: 32px; */
}

.b11-web {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  line-height: 26px;
}

@media screen and (max-width: 480px) {
  .b11-web {
    font-size: 14px;
    line-height: 1.2;
  }
}

.b12-web {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 59px;
}

@media screen and (max-width: 768px) {
  .b12-web {
    line-height: 1.4;
  }
}

@media screen and (max-width: 480px) {
  .b12-web {
    font-size: 18px;
  }
}

.b13-web {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1%;
}

@media screen and (max-width: 480px) {
  .b13-web {
    font-size: 16px;
    line-height: 1.4;
  }
}

.b14-web {
  font-size: 16px;
  line-height: 25px;
  composes: b1-web;
}

.b15-web {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.b16-web {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.b17-web {
  font-size: 16px;
  composes: b16-web;
}

.b18-web {
  font-size: 18px;
  line-height: 26px;
  composes: b10-web;
}

.b19-web {
  font-size: 22px;
  line-height: 45px;
  composes: b16-web;
}

.b20-web {
  font-size: 14px;
  line-height: 21px;
  composes: b16-web;
}

.b21-web {
  font-size: 16px;
  line-height: 26px;
  composes: b10-web;
}


.h1-web {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 1.2143rem + 3.9286vw, 4.75rem);
  line-height: 1.21;
  /* font-size: 76px; */
  /* line-height: 92px; */
  letter-spacing: -3px;
}

@media screen and (max-width: 768px) {
  .h1-web {
    letter-spacing: -2px;
  }
}

@media screen and (max-width: 480px) {
  .h1-web {
    letter-spacing: -1px;
  }
}

.h2-web {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.0357rem + 2.3214vw, 3.125rem);
  line-height: 1.16;
  /* font-size: 50px; */
  /* line-height: 58px; */
}

.h3-web {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 1.8214rem + 0.8929vw, 2.625rem);
  line-height: 1.285;
  /* font-size: 42px; */
  /* line-height: 54px; */
}

.h4-web {
  font-size: clamp(1.5rem, 1.125rem + 1.875vw, 2.8125rem);
  line-height: 0.57;
  /* font-size: 45px; */
  /* line-height: 26px; */
  letter-spacing: normal;
  composes: h1-web;
}

.h5-web {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
  line-height: 1.11;
  /* font-size: 40px; */
  /* line-height: 45px; */
}

.h6-web {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1.125rem, 0.9107rem + 1.0714vw, 1.875rem);
  line-height: 1.48;
  /* font-size: 30px; */
  /* line-height: 45px; */
}


.gray {
  color: var(--colors-interface-gray);
}

.gray-dark {
  color: var(--colors-interface-gray-dark);
}

.gray-light {
  color: var(--colors-interface-gray-light);
}

.gray-medium {
  color: var(--colors-interface-gray-medium);
}


.black {
  color: var(--colors-interface-black);
}

.white {
  color: var(--colors-interface-white);
}

.violet {
  color: var(--colors-interface-violet);
}

.violet-light {
  color: var(--colors-interface-violet-light);
}

.yellow {
  color: var(--colors-interface-yellow);
}

.red {
  color: var(--colors-interface-red);
}


.noWrap {
  white-space: nowrap;
}

.dots {
  overflow: hidden;
  text-overflow: ellipsis;
}



.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}