.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 330px;
  height: 90px;
  box-sizing: border-box;
  background-color: var(--colors-interface-white);
  border: 1px solid var(--colors-interface-white);
  border-radius: 16px;
  padding: 8px 16px;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.description {
  max-width: 120px;
}

.title {
  letter-spacing: normal;
  margin-bottom: 12px;
}

.shadow {
  box-shadow: -16px 16px 24px 0px rgba(70, 70, 70, 0.2);
}